@{
    ViewBag.Title = "IMC Aleatorio";
}
<!DOCTYPE html>
<html>
<head>
    <title>Resultados Aleatorios IMC</title>
    <meta charset="utf-8" />
</head>
<body>
    <h1>Resultados</h1>
    <div class="seccion_1" id="s1">
        <ul>
            <li>IMC menor que 18.5 -> peso insuficiente</li>
            <li>IMC 18.5 y 24.9 -> peso normal</li>
            <li>IMC mayor que 25 -> sobrepeso</li>
        </ul>
    </div>

    <div class="seccion_2" id="s2">
        <a class="btn btn-info" value="Volver al inicio" onclick="href='https://localhost:44333/Home'">
            Volver al inicio
        </a>
    </div>
    <hr />
    <div class="seccion_3" id="s3">
        <table class="table" id="tab">
            <tr>
                <th> Id</th>
                <th> Nombre</th>
                <th> Peso</th>
                <th> Estatura</th>
                <th> IMC</th>
            </tr>

            @for (int i = 0; i < 30; ++i)
            {
                <tr>
                    <td>@ViewBag.personas[i].Id</td>
                    <td>@ViewBag.personas[i].Nombre</td>
                    <td>@ViewBag.personas[i].Peso</td>
                    <td>@ViewBag.personas[i].Estatura</td>
                    <td>@ViewBag.imcs[i]</td>
                </tr>
            }

        </table>
        <hr />
    </div>





    <div class="seccion_4">
        @if (ViewBag.IMC > 20)
        {
            <div class="text-success">
                <p>Mensaje</p>
            </div>
        }
        else
        {
            <div class="text-danger">
                <p>Otro mensaje</p>
            </div>
        }
    </div>
</body>
</html>
